entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
TELEGRAM_TOKEN = "***REMOVED***"
ANTHROPIC_API_KEY = "***REMOVED***"
JUSTIN_CHAT_ID = "1720027121"
GITHUB_TOKEN = "***REMOVED***"
TWITTER_ACCESS_TOKEN = "***REMOVED***"
TWITTER_ACCESS_TOKEN_SECRET = "***REMOVED***"
TWITTER_BEARER_TOKEN = "***REMOVED***"
TWITTER_API_KEY = "***REMOVED***"
TWITTER_API_SECRET = "***REMOVED***"
LINKEDIN_ACCESS_TOKEN = "AQV3G-prIhFRRHnzr8GFwxlwoGaKFeBcSfv0GPlOAbV3uzukz28F2DKrKACmDUmJsdrtd-FSE6NO_UOu0nHjVcrMJIQ81qeUGpRLG4gNftX55DqeLWxa4YmVMA8CjGCEAAg1IFvPX9EFhJxsDkeKhHljk4X0f1WAA7lo_3lblhZSBNpDiVXHy2_m_FShXDFg8IqBo4DPWeyhGo1h9USDt79vDOJ6V3rZPxPehXNaOeD4rbPee8Ik24SsULR-JEXtFDxQbhvw9reyx7c57U18uLihIIje930K8wQzBBx3yesvMzFS8NJVf5EJGLtJgQyVhsV-BnC999BR_iHX0B7G2Kx03gkqow"
LINKEDIN_COMPANY_URN = "urn:li:organization:107864228"
SNAPCHAT_CLIENT_ID = "***REMOVED***"
SNAPCHAT_CLIENT_SECRET = "***REMOVED***"
SNAPCHAT_ACCESS_TOKEN = "***REMOVED***"
TIKTOK_CLIENT_KEY = " ***REMOVED***"
TIKTOK_CLIENT_SECRET = "***REMOVED***"
personal_gmail_address = "ayoubjustin2@gmail.com"
business_gmail_account = "creativeinnovationspace@gmail.com"

[[ports]]
localPort = 8080
externalPort = 80
